{% extends 'base.html.twig' %}

{% block title %}Orgaos{% endblock %}

{% block body %}
    <h1>Orgaos</h1>

    <table class="form">
        <thead>
            <tr>
                <th>Id orgao</th>
                <th>Nome orgao</th>
                <th>Acoes</th>
            </tr>
        </thead>
        <tbody>
        {% for tborgao in tborgaos %}
            <tr>
                <td>{{ tborgao.idorgao }}</td>
                <td>{{ tborgao.nomeorgao }}</td>
                <td>
                    <a href="{{ path('orgao_show', {'idorgao': tborgao.idorgao}) }}">Mostrar</a>
                    <a href="{{ path('orgao_edit', {'idorgao': tborgao.idorgao}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Lista vazia</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('orgao_new') }}">Criar novo</a>
{% endblock %}
