{% extends 'base.html.twig' %}

{% block title %}Assunto{% endblock %}

{% block body %}
    <h1>Assunto</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id Assunto</th>
                <td>{{ tbassunto.idassunto }}</td>
            </tr>
            <tr>
                <th>Assunto</th>
                <td>{{ tbassunto.assunto }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('assunto_index') }}">Voltar para lista</a>

    <a href="{{ path('assunto_edit', {'idassunto': tbassunto.idassunto}) }}">Editar</a>

    {{ include('assunto/_delete_form.html.twig') }}
{% endblock %}
